<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main :: html}">
<head>
    <title>Home</title>
</head>
<body>
    <div id="pageTitle">Home</div>
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Welcome to Container Base</h5>
                            <p class="card-text">Manage your containers efficiently with our modern interface.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>