<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main :: html}">
<head>
    <title>Create Export</title>
</head>
<body>
    <div id="pageTitle">Create Export</div>
    <div id="content">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-12">
                    <a href="/containers/export/create" class="btn btn-primary">
                        <i class="bx bx-plus"></i> Create Export
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>